Repository openzfs/zfs, pull requests merged in 2020-03, with the labels that each got.

#10081 ZTS: Change issue URL template to OpenZFS org
  tests/test-runner/bin/zts-report.py
Labels: Status: Accepted, Type: Test Suite

#10079 Make spa_history_zone platform-dependent in kernel
  include/sys/spa_impl.h
  module/os/linux/zfs/spa_misc_os.c
  module/zfs/spa_history.c
  tests/zfs-tests/tests/functional/history/history_common.kshlib
Labels: Status: Accepted

#10080 ZTS: Provide for nested cleanup routines
  tests/test-runner/include/logapi.shlib
  tests/zfs-tests/tests/functional/removal/removal.kshlib
Labels: Status: Code Review Needed, Type: Test Suite

#10070 Improve performance of zio_taskq_member
  include/os/linux/spl/sys/taskq.h
  include/sys/zfs_context.h
  lib/libzpool/taskq.c
  module/os/linux/spl/spl-taskq.c
  module/zfs/zio.c
Labels: Status: Accepted, Type: Performance

#10071 Add trim support to zpool wait
  cmd/zpool/zpool_main.c
  include/libzfs.h
  include/sys/fs/zfs.h
  lib/libzfs/libzfs_pool.c
  man/man8/zpool-trim.8
  man/man8/zpool-wait.8
  module/zfs/spa.c
  module/zfs/vdev_trim.c
  tests/runfiles/common.run
  tests/zfs-tests/tests/functional/cli_root/zpool_wait/Makefile.am
  tests/zfs-tests/tests/functional/cli_root/zpool_wait/zpool_wait_trim_basic.ksh
  tests/zfs-tests/tests/functional/cli_root/zpool_wait/zpool_wait_trim_cancel.ksh
  tests/zfs-tests/tests/functional/cli_root/zpool_wait/zpool_wait_trim_flag.ksh
  tests/zfs-tests/tests/functional/trim/autotrim_trim_integrity.ksh
  tests/zfs-tests/tests/functional/trim/trim.kshlib
  tests/zfs-tests/tests/functional/trim/trim_config.ksh
  tests/zfs-tests/tests/functional/trim/trim_integrity.ksh
Labels: Status: Accepted, Type: Feature

#10082 ZTS: Test the correct filesystem_limits behavior
  tests/test-runner/bin/zts-report.py
  tests/zfs-tests/tests/functional/limits/cleanup.ksh
  tests/zfs-tests/tests/functional/limits/filesystem_limit.ksh
  tests/zfs-tests/tests/functional/limits/setup.ksh
  tests/zfs-tests/tests/functional/limits/snapshot_limit.ksh
Labels: Status: Accepted, Type: Test Suite

#10086 zio: dprintf_bp() if errors > 0 in zfs_blkptr_verify()
  module/zfs/zio.c
Labels: Status: Accepted

#10093 ZTS: Add zts-report exceptions for FreeBSD
  tests/test-runner/bin/zts-report.py
  tests/zfs-tests/tests/functional/link_count/link_count_001.ksh
Labels: Status: Accepted, Type: Test Suite

#10097 ZTS: Add missing quotes
  tests/zfs-tests/tests/functional/cli_root/zfs_upgrade/setup.ksh
  tests/zfs-tests/tests/functional/write_dirs/setup.ksh
Labels: Status: Accepted, Type: Test Suite

#10098 ZTS: Speed up write_dirs cleanup
  tests/zfs-tests/tests/functional/write_dirs/write_dirs_001_pos.ksh
  tests/zfs-tests/tests/functional/write_dirs/write_dirs_002_pos.ksh
Labels: Status: Accepted, Type: Test Suite

#10105 ZTS: Update zts-report exceptions for FreeBSD
  tests/test-runner/bin/zts-report.py
Labels: Status: Code Review Needed, Type: Test Suite

#10030 Enable overlay mounts by default
  lib/libzfs/libzfs_mount.c
  man/man8/zfsprops.8
  module/zcommon/zfs_prop.c
  tests/runfiles/common.run
  tests/zfs-tests/tests/functional/cli_root/zfs_mount/Makefile.am
  tests/zfs-tests/tests/functional/cli_root/zfs_mount/zfs_mount_006_pos.ksh
  tests/zfs-tests/tests/functional/cli_root/zfs_mount/zfs_mount_008_pos.ksh
  tests/zfs-tests/tests/functional/cli_root/zfs_mount/zfs_mount_012_pos.ksh
  tests/zfs-tests/tests/functional/cli_root/zfs_mount/zfs_mount_all_fail.ksh
Labels: Status: Accepted

#10092 ZTS: Another round of changes for FreeBSD
  tests/zfs-tests/include/blkdev.shlib
  tests/zfs-tests/include/libtest.shlib
  tests/zfs-tests/tests/functional/cli_root/zfs_set/zfs_set_keylocation.ksh
  tests/zfs-tests/tests/functional/cli_root/zpool_create/zpool_create_023_neg.ksh
  tests/zfs-tests/tests/functional/cli_root/zpool_import/zpool_import_012_pos.ksh
  tests/zfs-tests/tests/functional/cli_root/zpool_split/zpool_split_props.ksh
  tests/zfs-tests/tests/functional/large_files/large_files_002_pos.ksh
  tests/zfs-tests/tests/functional/redacted_send/redacted.kshlib
  tests/zfs-tests/tests/functional/redacted_send/redacted_holes.ksh
  tests/zfs-tests/tests/functional/removal/removal_resume_export.ksh
  tests/zfs-tests/tests/functional/rsend/send_hole_birth.ksh
Labels: Status: Accepted, Type: Test Suite

#10103 Systemd mount generator: don't fail keyload from file if already loaded
  etc/systemd/system-generators/zfs-mount-generator.in
Labels: Status: Accepted

#10113 ZTS: Simplify some libtest functions
  tests/zfs-tests/include/libtest.shlib
Labels: Status: Accepted, Type: Test Suite

#10067 Improve zfs send performance by bypassing the ARC
  include/sys/arc.h
  include/sys/arc_impl.h
  module/zfs/arc.c
  module/zfs/dmu_send.c
Labels: Component: Send/Recv, Status: Accepted, Type: Performance

#10096 ZTS: Add a failsafe callback to run after each test
  tests/runfiles/common.run
  tests/runfiles/linux.run
  tests/runfiles/sunos.run
  tests/test-runner/bin/test-runner.py
  tests/test-runner/man/test-runner.1
  tests/zfs-tests/callbacks/Makefile.am
  tests/zfs-tests/callbacks/zfs_failsafe.ksh
Labels: Status: Code Review Needed, Type: Test Suite

#10118 zloop.sh should call ZDB with pool name
  scripts/zloop.sh
Labels: Status: Accepted

#9987 Prevent deadlock in arc_read in Linux memory reclaim callback
  module/zfs/arc.c
Labels: Component: Memory Management, Status: Accepted

#10101 Prevent race condition causing panic in dnode_dest
  include/sys/dmu_impl.h
  include/sys/dnode.h
  module/zfs/dnode.c
Labels: Status: Accepted

#10112 ZTS: Wait for free space between write_dirs tests
  tests/zfs-tests/tests/functional/write_dirs/cleanup.ksh
  tests/zfs-tests/tests/functional/write_dirs/setup.ksh
  tests/zfs-tests/tests/functional/write_dirs/write_dirs_001_pos.ksh
  tests/zfs-tests/tests/functional/write_dirs/write_dirs_002_pos.ksh
Labels: Status: Accepted, Type: Test Suite

#10116 ZTS: Test boundary conditions in alloc_class_012
  tests/test-runner/bin/zts-report.py
  tests/zfs-tests/tests/functional/alloc_class/alloc_class_012_pos.ksh
Labels: Status: Accepted, Type: Test Suite

#10121 ZTS: Use correct signal numbers for status checks
  tests/test-runner/include/logapi.shlib
Labels: Status: Accepted, Type: Test Suite

#10106 Fix infinite scan on a pool with only special allocations.
  module/zfs/dsl_scan.c
Labels: Status: Accepted

#10115 dmu_objset_from_ds must be called with dp_config_rwlock held
  include/sys/dsl_crypt.h
  module/os/linux/zfs/zfs_vfsops.c
  module/zfs/dmu_objset.c
  module/zfs/dmu_recv.c
  module/zfs/dmu_redact.c
  module/zfs/dmu_send.c
  module/zfs/dsl_crypt.c
Labels: Status: Accepted, Type: Defect

#10120 ZTS: Update flaky tests in zts-report
  tests/test-runner/bin/zts-report.py
Labels: Status: Accepted, Type: Test Suite

#10129 Remove CI builder customization from TEST
  TEST
Labels: Status: Accepted

#10099 Improve zfs receive performance by batching writes
  man/man5/zfs-module-parameters.5
  module/zfs/dmu_recv.c
Labels: Component: Send/Recv, Status: Accepted, Type: Performance

#10127 Fix bounds checks for float parsing
  cmd/ztest/ztest.c
  lib/libzfs/libzfs_util.c
Labels: Component: Userspace, Status: Accepted

#10137 ZTS: Exit status 256+signum is actually baked in to ksh
  tests/test-runner/include/logapi.shlib
Labels: Status: Code Review Needed, Type: Test Suite

#10136 ZTS: Use default_cleanup_noexit where needed
  tests/zfs-tests/tests/functional/alloc_class/cleanup.ksh
  tests/zfs-tests/tests/functional/channel_program/synctask_core/cleanup.ksh
  tests/zfs-tests/tests/functional/write_dirs/cleanup.ksh
Labels: Status: Accepted, Type: Test Suite

#9904 zfs: add option for forcible unmounting dataset while receiving snapshot.
  cmd/zfs/zfs_main.c
  include/libzfs.h
  lib/libzfs/libzfs_sendrecv.c
  man/man8/zfs-receive.8
  tests/runfiles/common.run
  tests/zfs-tests/tests/functional/cli_root/zfs_receive/Makefile.am
  tests/zfs-tests/tests/functional/cli_root/zfs_receive/zfs_receive_016_pos.ksh
Labels: Component: Send/Recv, Status: Accepted, Type: Feature

#10029 ICP: gcm-avx: Support architectures lacking the MOVBE instruction
  module/icp/algs/modes/gcm.c
  module/icp/asm-x86_64/modes/aesni-gcm-x86_64.S
  module/icp/include/modes/modes.h
Labels: Status: Accepted

#10122 Better disambiguate incomplete and corrupted streams on receive
  contrib/pyzfs/libzfs_core/_constants.py
  contrib/pyzfs/libzfs_core/_error_translation.py
  contrib/pyzfs/libzfs_core/exceptions.py
  contrib/pyzfs/libzfs_core/test/test_libzfs_core.py
  include/sys/fs/zfs.h
  lib/libzfs/libzfs_sendrecv.c
  module/zfs/dmu_recv.c
  tests/zfs-tests/cmd/libzfs_input_check/libzfs_input_check.c
Labels: Status: Accepted

#10143 Fix cstyle warnings
  contrib/pyzfs/libzfs_core/exceptions.py
  tests/zfs-tests/cmd/libzfs_input_check/libzfs_input_check.c
Labels: Status: Accepted

#9739 Fix zfs_rmnode() unlink / rollback issue
  module/os/linux/zfs/zfs_dir.c
Labels: Status: Accepted

#10142 Issue 10132 - changed decimals to integers in the arcstat script
  cmd/arcstat/arcstat
Labels: Status: Accepted

#10138 Avoid core dump on invalid redaction bookmark
  cmd/zfs/zfs_main.c
  lib/libzfs/libzfs_sendrecv.c
  tests/zfs-tests/tests/functional/cli_root/zfs_bookmark/zfs_bookmark_cliargs.ksh
  tests/zfs-tests/tests/functional/redacted_send/redacted_negative.ksh
Labels: Component: Userspace, Status: Accepted

#10117 deprecate deduplicated send streams
  cmd/zfs/zfs_main.c
  include/libzfs_impl.h
  lib/libzfs/libzfs_sendrecv.c
  man/man8/zfs-receive.8
  man/man8/zfs-send.8
Labels: Component: Send/Recv, Status: Accepted, Type: Documentation

#10015 Remove checks for null out value in encryption paths
  module/icp/algs/modes/cbc.c
  module/icp/algs/modes/ccm.c
  module/icp/algs/modes/ctr.c
  module/icp/algs/modes/ecb.c
  module/icp/algs/modes/gcm.c
  module/icp/api/kcf_cipher.c
  module/icp/api/kcf_digest.c
  module/icp/api/kcf_mac.c
  module/icp/core/kcf_prov_lib.c
  module/icp/include/sys/crypto/ioctl.h
  module/icp/io/aes.c
Labels: Status: Accepted

#10146 ZTS: Wait for free space between quota tests
  tests/zfs-tests/tests/functional/quota/quota_001_pos.ksh
  tests/zfs-tests/tests/functional/quota/quota_002_pos.ksh
  tests/zfs-tests/tests/functional/quota/quota_003_pos.ksh
  tests/zfs-tests/tests/functional/quota/quota_004_pos.ksh
  tests/zfs-tests/tests/functional/removal/removal.kshlib
Labels: Status: Accepted, Type: Test Suite

#10152 Compile cityhash code into libzfs
  include/Makefile.am
  include/cityhash.h
  include/sys/Makefile.am
  lib/libzfs/Makefile.am
  module/zcommon/Makefile.in
  module/zcommon/cityhash.c
  module/zfs/Makefile.in
  module/zfs/arc.c
  module/zfs/dbuf.c
  module/zfs/zio.c
Labels: Status: Accepted, Type: Building

#10155 Let default arc_c_max be platform dependent
  include/sys/arc.h
  man/man5/zfs-module-parameters.5
  module/os/linux/zfs/arc_os.c
  module/zfs/arc.c
Labels: Status: Accepted

#10165 ZTS: Skip udev actions in zvol_misc when not Linux
  tests/zfs-tests/tests/functional/zvol/zvol_misc/zvol_misc_common.kshlib
Labels: Status: Accepted, Type: Test Suite

#10154 Reset l2ad_hand and l2ad_first in l2arc_evict
  module/zfs/arc.c
  tests/runfiles/common.run
  tests/zfs-tests/include/libtest.shlib
  tests/zfs-tests/include/tunables.cfg
  tests/zfs-tests/tests/functional/cache/Makefile.am
  tests/zfs-tests/tests/functional/cache/cache_012_pos.ksh
Labels: Status: Accepted

#10163 Improve ZVOL sync write performance by using a taskq
  module/os/linux/zfs/zvol_os.c
Labels: Component: ZVOL, Status: Accepted, Type: Performance
